body {
  display: flex;
  justify-content: center;
}

.App {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height: 80vh;
  width: 90vw;
}
#map {
  border-radius:25px;
  height: 100%;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  background-color: green;
}

.marker {
  background-image: url('../public/output-onlinepngtools\ \(2\).png');
  background-size: cover;
  width: 26px;
  height: 22px;
  background-color: black;
  border-radius: 11px;
  border: solid 1px darkslategray;
}

.marker-delivery {
  background-image: url('https://i.imgur.com/cIooqnp.png');
  background-size: cover;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  border: solid darkslategrey 3px;
}
