body {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90vw;
}

.title {
  font-family: monospace;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

#map {
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.marker {
  background-image: url('../public/delivery-vector-free-icon-set-29.png');
  background-size: cover;
  width: 40px;
  height: 40px;
}

.marker-delivery {
  background-image: url('../public/delivery-vector-free-icon-set-22.png');
  background-size: cover;
  width: 50px;
  height: 50px;
}
